/*=====Fonts=====*/
/*  IMPORTS  */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Titillium+Web&family=Ubuntu&display=swap");
/*variables*/
/*mix-ins*/
/*BASIC*/
img {
  max-width: 100%; }

* {
  box-sizing: border-box; }

a {
  display: block; }

textarea {
  resize: none; }

body {
  height: 100vh;
  padding-bottom: 100px; }

.wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #EEEEEE; }

/* SCROLLBAR CODE */
/* width */
::-webkit-scrollbar {
  width: 20px; }

/* Track */
::-webkit-scrollbar-track {
  background: #3C4A54; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E75858; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d41e1e; }

h2.subhead {
  font-family: "Titillium Web", sans-serif;
  color: #E75858;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  padding-left: 50px;
  font-size: 36px; }

.sidebar {
  width: 275px;
  position: fixed;
  top: 0;
  background: #3C4A54;
  color: #FFFFFF;
  padding: 25px;
  height: 100vh;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .sidebar #nav {
    width: 100%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    justify-content: space-evenly; }
    .sidebar #nav a {
      text-transform: uppercase;
      color: #FFFFFF;
      font-family: "PT Sans", sans-serif;
      text-decoration: none;
      font-size: 18px; }
    .sidebar #nav a:hover:after {
      width: 100%; }
    .sidebar #nav a.current:hover:after {
      width: 0%; }
    .sidebar #nav a::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #E75858;
      transition: width .3s; }
    .sidebar #nav a i {
      color: #E75858;
      margin-left: 10px;
      font-size: 18px; }
  .sidebar .current {
    border-bottom: solid #E75858 2px; }
  .sidebar #info-links {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; }
    .sidebar #info-links a {
      color: #EEEEEE;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 100;
      text-decoration: none;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center; }
    .sidebar #info-links i {
      font-size: 6px;
      color: #EEEEEE; }

.sidebar.report {
  background-color: #EEEEEE;
  height: auto; }

#report select {
  margin: 30px 0; }

.button {
  background-color: #E75858;
  padding: 10px 15px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 36px;
  margin: 10px;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  transition: all 0.3s ease; }
  .button:hover {
    background: #e44242; }

footer {
  height: 100px;
  position: relative;
  width: 100%;
  padding: 10px 50px 10px 285px;
  background: #3C4A54;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  footer a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: lighter;
    font-family: "PT Sans", sans-serif; }
  footer .emphasis {
    color: #E75858;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
    margin-right: 10px; }
  footer .links {
    width: 50%; }
  footer .poweredby {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; }
    footer .poweredby a, footer .poweredby p {
      display: inline-block;
      margin: 0;
      font-size: 32px;
      text-transform: uppercase;
      font-weight: lighter;
      font-family: "Titillium Web", sans-serif;
      letter-spacing: 5px; }
    footer .poweredby p {
      color: #FFFFFF; }
    footer .poweredby p a {
      color: #E75858;
      border-bottom: solid #E75858 2px; }
  footer .logo.report a {
    font-size: 16px; }
  footer .logo.report a.emphasis {
    font-size: 24px; }
  footer .logo {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; }

.main {
  position: relative;
  padding-left: 275px;
  width: 100%;
  background-color: #EEEEEE; }
  .main section {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%; }
    .main section h1 {
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 5px;
      color: #E75858;
      font-size: 48px;
      font-weight: normal; }

header {
  height: 400px;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px; }
  header img {
    width: 300px;
    height: 300px; }
  header div {
    text-align: center;
    width: 60%;
    padding-right: 20%;
    color: #2A2A2A; }
  header h2.subhead {
    padding-bottom: 5px;
    border-bottom: solid #E75858 3px;
    padding-left: 0; }
  header p {
    font-size: 24px;
    font-weight: lighter;
    font-family: "PT Sans", sans-serif;
    letter-spacing: 5px; }
    header p #ticketnum {
      color: #E75858;
      font-weight: bold;
      display: inline-block; }
  header p.accttype {
    text-transform: uppercase; }

.button:hover {
  cursor: pointer; }

p.info-circle {
  margin: 0 !important; }
  p.info-circle i {
    position: absolute;
    right: 25px;
    line-height: 38px;
    color: #E75858; }
    p.info-circle i:hover {
      transition: 0.3s;
      cursor: pointer;
      color: #ea6e6e; }

/* custom alert box from: https://codepen.io/XemsDoom/pen/uzoaD */
.customAlertWrap {
  width: 100%;
  height: 100%;
  padding-left: 275px;
  position: fixed;
  z-index: 100;
  display: none;
  top: 0;
  left: 0; }

.customAlert {
  display: none;
  position: relative;
  width: 400px;
  min-height: 200px;
  margin: 10em auto;
  background: #E75858;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(60, 74, 84, 0.3);
  font-family: "PT Sans", sans-serif;
  font-size: 20px; }
  @media all and (max-width: 1300px) {
    .customAlert .message {
      font-size: 14px !important; }
    .customAlert input[type='button'] {
      height: 15% !important; } }
  .customAlert .message {
    padding: 15px;
    color: white;
    text-align: center;
    letter-spacing: 1px; }
  .customAlert input[type='button'] {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 50%;
    height: 36px;
    margin-top: -45px;
    margin-left: -25%;
    outline: 0;
    border: 0;
    background: #3C4A54;
    color: #EEEEEE; }
    .customAlert input[type='button']:hover {
      transition: 0.3s;
      cursor: pointer;
      background: #475763; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* --------------------------------

xpopup

-------------------------------- */
.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s; }

.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
  z-index: 101; }

.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #3C4A54;
  color: #EEEEEE;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.cd-popup-container p {
  padding: 20px;
  font-size: 24px; }

.cd-popup-container .cd-buttons:hover {
  cursor: pointer; }

.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both; }

.cd-popup-container .cd-buttons {
  padding: 0; }

.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
  list-style: none; }

.cd-popup-container .cd-buttons li.close {
  width: 100%; }

.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  border: none;
  text-transform: uppercase;
  color: white;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s; }

.cd-popup-container .cd-buttons li:first-child a {
  background: #FFFFFF;
  color: #E75858;
  border-radius: 0 0 0 .25em; }

.cd-popup-container .cd-buttons li:last-child a {
  background: #E75858;
  border-radius: 0 0 .25em 0; }

.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px; }

.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5; }

.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px; }

.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px; }

.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 8em auto; } }
/* NOTIFICATION PAGE */
.notif {
  width: 45%;
  border-radius: 10px;
  background: #3C4A54;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-items: space-between;
  padding: 30px;
  padding-top: 0; }
  .notif p {
    font-family: "Titillium Web", sans-serif;
    width: 75%;
    font-size: 22px;
    font-weight: lighter;
    margin-top: 0;
    margin-top: 50px;
    color: #FFFFFF; }
  .notif .date {
    width: 25%;
    color: #E75858;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    margin-top: -75px; }
    .notif .date i {
      margin-right: 15px; }
  .notif .button {
    width: 300px;
    font-size: 18px;
    margin: auto;
    text-align: center; }

/*SEARCH PAGE */
#search .forms {
  margin: 40px 0; }
  #search .forms input[type="text"] {
    margin-bottom: 30px; }
  #search .forms .rating-stars ul {
    padding: 40px 0; }

#search-results, #search-filters {
  float: left;
  width: 600px;
  margin: 0 5%; }

#search-results {
  height: 100vh;
  overflow-y: scroll; }
  #search-results .ticket {
    width: 100%; }
  #search-results .ticket .button-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; }
  #search-results .ticket .button {
    font-size: 18px;
    max-width: 45%; }
  #search-results .ticket i {
    color: #2A2A2A;
    font-size: 24px; }

#search-results .ticket i.highlight, .forms .rating-stars ul > li.star i.highlight, .ticket i.highlight, #projects p i.highlight {
  color: #E75858; }

.radio-row {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0; }

.radios .field-wrap {
  padding: 10px;
  border-right: solid 2px #E75858;
  min-height: 150px; }

.forms .radios label:not(label[for=radio]) {
  position: relative;
  font-size: 16px;
  display: inline-block;
  left: 0;
  transform: none; }

.forms .radios input[type="checkbox"] {
  display: inline-block;
  width: 20px;
  height: 20px; }

#developerSelect {
  height: 100px;
  overflow-y: scroll; }

#noAccount .button {
  text-align: center; }
  #noAccount .button:hover {
    color: #FFFFFF; }

/*SIGN IN PAGE*/
#signin {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; }
  #signin h3 {
    width: 100%;
    font-size: 36px;
    color: #3C4A54;
    text-align: center; }

/* ALL TICKETS PAGE */
#tickets .subhead.desc {
  color: #3C4A54;
  font-size: 18px; }

/*TICKET PAGE*/
.ticket {
  width: 100%;
  padding-left: 75px; }
  .ticket select {
    font-size: 22px;
    display: inline-block;
    height: 100%;
    padding: 5px 10px;
    margin: 0 10px;
    background: none;
    background-image: none;
    border: 1px solid #EEEEEE;
    color: #E75858;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease; }
    .ticket select:focus {
      outline: 0;
      border-color: #E75858; }
  .ticket select option {
    background: #3C4A54; }
  .ticket .button.progressChange {
    font-size: 22px;
    padding: 5px 10px;
    font-weight: bold; }

.thread {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-items: flex-start; }
  .thread h2 {
    text-align: left; }
  .thread .comment, .thread .reply {
    width: 100%;
    padding: 10px 15px; }
    .thread .comment .comment-info, .thread .reply .comment-info {
      font-weight: bold;
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      font-family: "PT Sans", sans-serif; }
      .thread .comment .comment-info .poster, .thread .reply .comment-info .poster {
        margin: 0 10px;
        color: #2A2A2A;
        font-size: 26px; }
      .thread .comment .comment-info .date, .thread .reply .comment-info .date {
        margin: 0 10px;
        color: #E75858;
        font-size: 22px; }
      .thread .comment .comment-info i, .thread .reply .comment-info i {
        color: #E75858;
        font-size: 22px;
        padding-left: 30px; }
        .thread .comment .comment-info i:hover, .thread .reply .comment-info i:hover {
          color: #d41e1e;
          cursor: pointer; }
    .thread .comment .comment-text, .thread .reply .comment-text {
      padding: 10px 25px; }
  .thread .reply {
    padding-left: 75px;
    border-left: solid #E75858 3px; }
  .thread .comment:nth-of-type(even) {
    background: #c8c8c8; }
  .thread .post {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 30px; }
    .thread .post h2 {
      margin: 0;
      font-size: 26px; }
    .thread .post textarea {
      resize: none;
      background: #3C4A54;
      color: #EEEEEE;
      border: none;
      width: 50%;
      height: 100px;
      outline: none;
      font-size: 26px;
      font-family: "Titillium Web", sans-serif; }
    .thread .post input[type="submit"] {
      font-size: 22px;
      width: 20%;
      border: none;
      outline: none; }
  .thread .post.reply {
    align-items: flex-start; }
    .thread .post.reply input[type="submit"] {
      font-size: 22px;
      margin: 10px 0; }

.ticket .button-wrap .button {
  font-size: 24px; }

/* Individual Ticket Page */
#ticket .ticket .name {
  font-size: 26px; }
#ticket .ticket .info {
  font-size: 18px;
  border: none; }
#ticket .ticket .label {
  font-size: 22px; }
#ticket .ticket .desc {
  width: 50%;
  padding: 20px; }
#ticket .ticket .button-wrap {
  width: 30%;
  flex-direction: column; }
  #ticket .ticket .button-wrap .button {
    width: 100%; }

/*SIGN UP PAGE*/
.forms {
  background: rgba(60, 74, 84, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(60, 74, 84, 0.3); }
  .forms a {
    text-decoration: none;
    color: #E75858;
    transition: .5s ease; }
    .forms a:hover {
      color: #e44242; }
  .forms p {
    width: 100%;
    text-align: center;
    color: #EEEEEE;
    font-size: 32px;
    margin-bottom: 60px; }
  .forms .tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0; }
    .forms .tab-group:after {
      content: "";
      display: table;
      clear: both; }
    .forms .tab-group li a {
      display: block;
      text-decoration: none;
      padding: 15px;
      background: rgba(238, 238, 238, 0.25);
      color: #EEEEEE;
      font-size: 20px;
      float: left;
      width: 50%;
      text-align: center;
      cursor: pointer;
      transition: .5s ease; }
      .forms .tab-group li a:hover {
        background: #e44242;
        color: #FFFFFF; }
    .forms .tab-group .active a {
      background: #E75858;
      color: #FFFFFF; }
  .forms .tab-content > div:last-child {
    display: none; }
  .forms h1 {
    text-align: center;
    color: #FFFFFF;
    font-weight: lighter;
    margin: 0 0 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 48px; }
  .forms label, .forms .rating-widget p {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px; }
    .forms label .req, .forms .rating-widget p .req {
      margin: 2px;
      color: #E75858; }
  .forms .rating-widget {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; }
  .forms .rating-widget p {
    width: auto;
    transform: none;
    left: 2px;
    font-size: 18px; }
  .forms label.active {
    transform: translateY(-25px);
    left: 2px;
    font-size: 14px; }
    .forms label.active .req {
      opacity: 0; }
  .forms label[for=textarea].active {
    transform: translateY(-25px); }
  .forms label[for=date], .forms label[for=radio], .forms label[for=select] {
    transform: translateY(-35px);
    font-size: 18px;
    border-bottom: solid #E75858 2px; }
  .forms label.highlight {
    color: #FFFFFF; }
  .forms input, .forms textarea, .forms select {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #EEEEEE;
    color: #FFFFFF;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease; }
    .forms input:focus, .forms textarea:focus, .forms select:focus {
      outline: 0;
      border-color: #E75858; }
  .forms select option {
    background: #3C4A54; }
  .forms .radios {
    padding-top: 50px; }
  .forms textarea {
    border: 2px solid #EEEEEE;
    height: 150px; }
  .forms .field-wrap {
    position: relative;
    margin-bottom: 30px; }
  .forms .field-row:after {
    content: "";
    display: table;
    clear: both; }
  .forms .field-row > div {
    float: left;
    width: 48%;
    margin-right: 4%; }
    .forms .field-row > div:last-child {
      margin: 0; }
  .forms .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #E75858;
    color: #FFFFFF;
    transition: all 0.5s ease;
    -webkit-appearance: none; }
    .forms .button:hover, .forms .button:focus {
      background: #e44242; }
  .forms .button-block {
    display: block;
    width: 100%; }
  .forms .forgot {
    margin-top: -20px;
    text-align: right; }

/*PROJECT PAGES */
.forms #project .field-row {
  margin-bottom: 50px; }

.main#projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center; }
  .main#projects .button {
    margin-left: 100px; }

.main#projects .project {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  jusify-content: space-evenly;
  padding: 20px;
  padding-left: 75px; }
  .main#projects .project img {
    width: 100px;
    height: 100px;
    max-width: 10%; }
  .main#projects .project .info {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; }
    .main#projects .project .info h2, .main#projects .project .info h3 {
      width: 100%;
      margin: 10px 0; }
    .main#projects .project .info h2 {
      font-size: 28px; }
    .main#projects .project .info h3 {
      padding-left: 25px;
      color: #2A2A2A;
      font-size: 22px;
      letter-spacing: 2px; }
  .main#projects .project p {
    font-size: 16px;
    margin: 5px 0;
    text-align: left;
    color: #2A2A2A;
    width: 100%;
    font-family: "Titillium Web", sans-serif; }
  .main#projects .project .button-wrap {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    .main#projects .project .button-wrap .button {
      width: 100%;
      font-size: 16px;
      text-align: center;
      margin: 10px 0; }
  .main#projects .project #reportLink-wrap {
    width: 30%;
    padding: 50px 20px; }
    .main#projects .project #reportLink-wrap p, .main#projects .project #reportLink-wrap textarea {
      width: 100%;
      text-align: center;
      font-family: "PT Sans", sans-serif; }
    .main#projects .project #reportLink-wrap p {
      color: #3C4A54;
      font-size: 22px; }
    .main#projects .project #reportLink-wrap textarea {
      background: none;
      border: none;
      outline: none;
      color: #E75858;
      font-weight: bold;
      font-size: 18px;
      padding: 10px; }
    .main#projects .project #reportLink-wrap .button {
      margin: auto;
      font-size: 16px;
      width: 150px; }

.project:nth-of-type(even) {
  background: #c8c8c8; }

/* COMPANY MANAGEMENT */
#company {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center; }
  #company h2 {
    width: 100%; }
  #company .forms {
    width: 45%; }
  #company .forms .button {
    margin: auto; }
  #company .copylink-wrap {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-items: flex-start; }
    #company .copylink-wrap h3 {
      font-family: "PT Sans", sans-serif;
      font-size: 22px;
      color: #3C4A54;
      width: 100%;
      padding-left: 50px; }
    #company .copylink-wrap p, #company .copylink-wrap textarea {
      text-align: left;
      font-family: "PT Sans", sans-serif;
      margin: 0; }
    #company .copylink-wrap p {
      width: 100%;
      color: #3C4A54;
      font-size: 22px; }
    #company .copylink-wrap textarea {
      background: none;
      border: none;
      outline: none;
      color: #E75858;
      font-weight: bold;
      font-size: 18px;
      padding: 10px;
      width: 550px; }
    #company .copylink-wrap .button.copy {
      margin: 0;
      font-size: 16px;
      width: 150px; }
    #company .copylink-wrap .button {
      width: 100%; }

/* ACCOUNT FORM */
#acct-form {
  margin: 50px 100px; }
  #acct-form h3 {
    color: #FFFFFF; }

/* EMPLOYEE MANAGEMENT */
.employee {
  width: 60%;
  margin: 0 100px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .employee .button {
    width: 30%;
    font-size: 14px; }
  .employee h3 {
    width: 30%;
    color: #3C4A54;
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
    font-size: 26px; }

/* REPORT TABLES */
h1.reports {
  font-size: 32px;
  color: #E75858;
  text-align: center;
  letter-spacing: 10px;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase; }

h2.reports {
  font-size: 26px; }
  h2.reports form {
    display: inline-block;
    float: right;
    padding-right: 100px; }

table.reports {
  width: 80%;
  margin: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: #2A2A2A;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-bottom: 75px; }
  table.reports th {
    text-align: left;
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    padding: 12px 15px;
    background-color: #E75858;
    color: #FFFFFF;
    font-size: 22px; }
  table.reports th:first-of-type {
    border-top-left-radius: 25px; }
  table.reports th:last-of-type {
    border-top-right-radius: 25px; }
  table.reports td {
    font-family: "Titillium Web", sans-serif;
    padding: 12px 15px;
    font-size: 16px; }
  table.reports td.descriptor {
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    color: #3C4A54; }
  table.reports tr:nth-of-type(even) {
    background: #EEEEEE; }
  table.reports tr:nth-of-type(odd) {
    background: #FFFFFF; }
  table.reports tr:last-of-type {
    border-bottom: solid #E75858 5px; }

/*SPLASH PAGE*/
#splash header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  #splash header p, #splash header h2 {
    font-size: 36px;
    text-align: center;
    width: 850px; }

#splash section {
  text-align: center; }
  #splash section h1 {
    text-transform: uppercase;
    color: #E75858;
    font-size: 54px;
    letter-spacing: 10px;
    font-weight: normal;
    width: 100%; }
  #splash section .third {
    width: 30%;
    margin: 20px 0; }
    #splash section .third p {
      padding: 10px 40px;
      font-size: 18px;
      line-height: 36px;
      font-family: "Ubuntu", sans-serif; }
  #splash section .whole {
    width: 100%;
    height: 400px;
    background: #3C4A54;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center; }
    #splash section .whole p, #splash section .whole .section-img {
      width: 50%;
      height: 450px; }
    #splash section .whole .section-img {
      background-image: url("/assets/img/bugreport.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center; }
    #splash section .whole p {
      background: #3C4A54;
      color: white;
      font-family: "Titillium Web", sans-serif;
      font-size: 20px;
      line-height: 40px;
      padding: 50px;
      text-align: left;
      margin: 0; }
  #splash section .half {
    width: 50%; }
    #splash section .half p {
      font-size: 26px;
      font-family: "PT Sans", sans-serif;
      color: #2A2A2A;
      line-height: 38px;
      padding: 0 50px; }
  #splash section .padded {
    width: 60%;
    margin: auto;
    background: #E75858; }
    #splash section .padded h2 {
      color: #2A2A2A;
      font-family: "Titillium Web", sans-serif;
      font-size: 42px;
      letter-spacing: 5px;
      text-transform: uppercase;
      font-weight: bold; }
    #splash section .padded h3 {
      color: #FFFFFF;
      font-size: 48px;
      font-family: "PT Sans", sans-serif;
      font-weight: lighter; }
    #splash section .padded p {
      color: #FFFFFF;
      font-family: "PT Sans", sans-serif;
      font-size: 24px;
      margin: 5px 0; }
    #splash section .padded .button {
      background: #FFFFFF;
      color: #E75858;
      width: 60%;
      margin: 15px auto; }
      #splash section .padded .button:hover {
        background: #d9d9d9; }

/* BUG APPROVAL */
.bug, .ticket {
  padding-right: 25%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-items: flex-start;
  justify-content: flex-start; }
  .bug .name, .ticket .name {
    font-family: "Ubuntu", sans-serif;
    color: #2A2A2A;
    font-size: 22px;
    width: 100%; }
  .bug .info, .ticket .info {
    border-bottom: solid #E75858 2px;
    margin: 5px 20px;
    align-self: baseline;
    padding-bottom: 5px; }
    .bug .info .label, .ticket .info .label {
      font-family: "PT Sans", sans-serif;
      font-weight: bold;
      font-size: 18px; }
    .bug .info a, .ticket .info a {
      margin-left: 10px;
      font-weight: normal;
      display: inline-block; }
  .bug .info.desc, .ticket .info.desc {
    border: none;
    font-size: 22px;
    width: 60%; }
    .bug .info.desc a, .ticket .info.desc a {
      width: 100%;
      margin-top: 10px; }
  .bug .button-wrap, .ticket .button-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; }
    .bug .button-wrap .button, .ticket .button-wrap .button {
      font-size: 18px;
      width: 200px;
      text-align: center; }
  .bug:nth-of-type(even), .ticket:nth-of-type(even) {
    background: #c8c8c8; }

.bug {
  padding-left: 75px;
  padding-right: 10%; }
  .bug .button-wrap {
    width: 20%; }

/* Rating Star Widgets Style */
.rating-widget p {
  padding: 0;
  margin: 0; }

.rating-stars ul {
  list-style-type: none;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none; }

.rating-stars ul > li.star {
  display: inline-block; }

/* Idle State of the stars */
.rating-stars ul > li.star > i {
  font-size: 1em;
  /* Change the size of the stars */
  color: #2A2A2A;
  /* Color on idle state */ }

.rating-stars ul > li.star > i:hover {
  cursor: pointer; }

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i {
  color: #ea6e6e; }

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i {
  color: #E75858; }

/* Tablet */
/* Mobile */
@media screen and (max-width: 700px) {
  .sidebar {
    display: none; }

  .main {
    width: 100%;
    padding: 0; }

  footer {
    padding: 0 10px; }
    footer .logo, footer .links {
      width: 36%;
      height: 100px; }
    footer a {
      font-size: 16px; }
    footer .logo .emphasis {
      font-size: 28px;
      margin: 0;
      text-align: center; }
    footer .logo a {
      width: 100%;
      text-align: center; }

  #splash header p, #splash header h2, #splash header .button {
    width: 100%;
    height: auto; }
  #splash header h2 {
    font-size: 20px;
    padding: 0; }
  #splash header p {
    font-size: 18px;
    letter-spacing: 2px; }
  #splash header .button {
    font-size: 18px;
    text-align: center; }
  #splash section h1 {
    font-size: 24px;
    letter-spacing: 2px; }
  #splash section .third, #splash section .half, #splash section .padded {
    width: 100%; }
  #splash section .third p, #splash section .half p {
    font-size: 18px;
    line-height: 32px; }
  #splash section .whole {
    height: 700px; }
  #splash section .whole .section-img, #splash section .whole p {
    width: 100%; }
  #splash section .whole p {
    line-height: 25px;
    padding: 20px;
    height: 400px; }
  #splash section .whole .section-img {
    height: 300px; } }

/*# sourceMappingURL=style.css.map */
