/*=====Fonts=====*/

/*  IMPORTS  */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Titillium+Web&family=Ubuntu&display=swap');


/*variables*/
$white: #FFFFFF;
$lightgray: #EEEEEE;
$red: #E75858;
$black: #232323;
$bluegray: #3C4A54;
$darkgray: #2A2A2A;
$PTSans: 'PT Sans', sans-serif;
$Ubuntu: 'Titillium Web', sans-serif;
$TitilliumWeb: 'Ubuntu', sans-serif;

/*mix-ins*/
@mixin flexRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
@mixin flexColumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

/*BASIC*/
img {max-width: 100%;}
* {box-sizing: border-box;}
a {display: block;}
textarea {resize: none;}
body {height: 100vh; padding-bottom: 100px;}
.wrap {
    width: 100%;
    min-height: 100vh;
    @include flexRow;
    justify-content: flex-start;
    background-color: $lightgray;
}
/* SCROLLBAR CODE */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $bluegray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $red;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($red, 15%);
}
h2.subhead {
    font-family: $Ubuntu;
    color: $red;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    padding-left: 50px;
    font-size: 36px;
}

.sidebar {
    width: 275px;
    position: fixed;
    top: 0;
    background: $bluegray;
    color: $white;
    padding: 25px;
    height: 100vh;
    z-index: 100;
    @include flexColumn;
    justify-content: space-between;
    #nav {
        width: 100%;
        height: 60%;
        @include flexColumn;
        align-items: flex-start;
        justify-content: space-evenly;
        a {
            text-transform: uppercase;
            color: $white;
            font-family: $PTSans;
            text-decoration: none;
            font-size: 18px;
        }
        a:hover:after{
          width: 100%;
        }
        a.current:hover:after {width: 0%;}
        a::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: $red;
            transition: width .3s;
        }
        a i {
            color: $red;
            margin-left: 10px;
            font-size: 18px;
        }
    }
    .current {
        border-bottom: solid $red 2px;
    }
    #info-links {
            width: 100%;
            @include flexRow;
            justify-content: space-evenly;
            a {
                color: $lightgray;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 100;
                text-decoration: none;
                @include flexRow;
            }
            i {
                font-size: 6px;
                color: $lightgray;
            }
        }
}
.sidebar.report {
    background-color: $lightgray;
    height: auto;
}
#report select {
    margin: 30px 0;
}
.button {
    background-color: $red;
    padding: 10px 15px;
    color: $white;
    text-decoration: none;
    font-size: 36px;
    margin: 10px;
    text-transform: uppercase;
    font-family: $PTSans;
    font-weight: bold;
    transition: all 0.3s ease;
    &:hover {background: darken($red, 5%);}
}

footer {
    height: 100px;
    position: relative;
    width: 100%;
    padding: 10px 50px 10px 285px;
    background: $bluegray;
    bottom: 0;
    @include flexRow;
    justify-content: space-between;
    a {
        text-decoration: none;
        color: $white;
        font-size: 24px;
        font-weight: lighter;
        font-family: $PTSans;
    }
    .emphasis {
        color: $red;
        letter-spacing: 5px;
        text-transform: uppercase;
        font-size: 48px;
        font-weight: bold;
        margin-right: 10px;
    }
    .links {
        width: 50%;
    }
    .poweredby {
        width: 60%;
        @include flexRow;
        justify-content: flex-start;
        a, p {
            display: inline-block;
            margin: 0;
            font-size: 32px;
            text-transform: uppercase;
            font-weight: lighter;
            font-family: $Ubuntu;
            letter-spacing: 5px;
        }
        p { color: $white; }
        p a {
            color: $red;
            border-bottom: solid $red 2px;
        }
    }
    .logo.report a{font-size: 16px;}
    .logo.report a.emphasis {font-size: 24px;}
    .logo {
        width: 40%;
        @include flexRow;
        justify-content: flex-end;
    }
}
.main {
    position: relative;
    padding-left: 275px;
    width: 100%;
    background-color: $lightgray;
    section {
        padding: 25px;
        @include flexRow;
        width: 100%;
        h1 {
            width: 100%;
            text-transform: uppercase;
            letter-spacing: 5px;
            color: $red;
            font-size: 48px;
            font-weight: normal;
        }
    }
}


header {
    height: 400px;
    width: 100%;
    position: relative;
    @include flexRow;
    justify-content: space-between;
    padding: 25px;
    img {
       width: 300px;
       height: 300px;
   }
   div {
       text-align: center;
       width: 60%;
       padding-right: 20%;
       color: $darkgray;
   }
   h2.subhead {
       padding-bottom: 5px;
       border-bottom: solid $red 3px;
       padding-left: 0;
   }
   p {
       font-size: 24px;
       font-weight: lighter;
       font-family: $PTSans;
       letter-spacing: 5px;
       #ticketnum {
           color: $red;
           font-weight: bold;
           display: inline-block;
       }
   }
   p.accttype {text-transform: uppercase;}
}
.button:hover{cursor: pointer;}
p.info-circle {
    margin: 0!important;
    i {
        position: absolute;
        right: 25px;
        line-height: 38px;
        color: $red;
        &:hover{
          transition: 0.3s;
          cursor: pointer;
        	color: lighten($red, 5%);
        }
    }

}

/* custom alert box from: https://codepen.io/XemsDoom/pen/uzoaD */
.customAlertWrap {
    width: 100%;
    height: 100%;
    padding-left: 275px;
    position: fixed;
    z-index: 100;
    display: none;
    top: 0;
    left: 0;
}
.customAlert{
  display: none;
  position: relative;
  width: 400px;
  min-height: 200px;
  margin: 10em auto;
  background:$red;
  padding: 20px;
  border-radius: 4px;
  box-shadow:0 4px 10px 4px rgba($bluegray,.3);
  font-family: $PTSans;
  font-size: 20px;

  @media all and (max-width: 1300px){
    .message{
      font-size: 14px !important;
    }
    input[type='button']{
      height: 15% !important;
    }
  }

  .message{
    padding: 15px;
    color: white;
    text-align: center;
    letter-spacing: 1px;
  }

  input[type='button']{
    position: absolute;
    top: 100%;
    left: 50%;
    width: 50%;
    height: 36px;
    margin-top: -45px;
    margin-left: -25%;
    outline: 0;
    border: 0;
    background: $bluegray;
    color: $lightgray;
    &:hover{
      transition: 0.3s;
      cursor: pointer;
    	background: lighten($bluegray, 5%);
    }
  }
}

@keyframes fadeOut{
	from{
  	opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes fadeIn{
	from{
  	opacity: 0;
  }
  to{
    opacity: 1;
  }
}
/* --------------------------------

xpopup

-------------------------------- */
.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
  z-index: 101;
}

.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: $bluegray;
  color: $lightgray;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-popup-container p {
  padding: 20px;
  font-size: 24px;
}
.cd-popup-container .cd-buttons:hover {cursor: pointer;}
.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons {padding: 0;}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
  list-style: none;
}
.cd-popup-container .cd-buttons li.close{width: 100%;}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  border: none;
  text-transform: uppercase;
  color: white;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: $white;
  color: $red;
  border-radius: 0 0 0 .25em;
}
.cd-popup-container .cd-buttons li:last-child a {
  background: $red;
  border-radius: 0 0 .25em 0;
}
.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 8em auto;
  }
}

/* NOTIFICATION PAGE */
.notif {
    width: 60%;
    border-radius: 10px;
    background: $bluegray;
    margin: auto;
    margin-bottom: 50px;
    @include flexRow;
    align-items: space-between;
    padding: 30px;
    padding-top: 0;
    p {
        font-family: $Ubuntu;
        width: 75%;
        font-size: 22px;
        font-weight: lighter;
        margin-top: 0;
        margin-top: 50px;
        color: $white;
    }
    .date {
        width: 25%;
        color: $red;
        font-size: 16px;
        font-weight: bold;
        text-align: right;
        margin-top: -75px;
        i {margin-right: 15px;}
    }
    .button {
        width: 300px;
        font-size: 18px;
        margin: auto;
        text-align: center;
    }
}

/*SEARCH PAGE */
#search .forms {
    margin: 40px 0;
    input[type="text"] {
        margin-bottom: 30px;
    }
    .rating-stars ul {padding: 40px 0;}
}
#search-results, #search-filters{
    float: left;
    width: 600px;
    margin: 0 5%;
}
#search-results {
    height: 100vh;
    overflow-y: scroll;
    .ticket {width: 100%;}
    .ticket .button-wrap {
        width: 100%;
        @include flexRow();
        justify-content: space-evenly;
    }
    .ticket .button {
        font-size: 18px;
        max-width: 45%;
    }
    .ticket i {
        color: $darkgray;
        font-size: 24px;
    }
}
#search-results .ticket i.highlight, .forms .rating-stars ul > li.star i.highlight, .ticket i.highlight, #projects p i.highlight{color: $red;}
.radio-row {
    width: 100%;
    height: auto;
    @include flexRow;
    justify-content: space-between;
    margin: 5px 0;
}
.radios .field-wrap {
    padding: 10px;
    border-right: solid 2px $red;
    min-height: 150px;
}
.forms .radios label:not(label[for=radio]) {
    position: relative;
    font-size: 16px;
    display: inline-block;
    left: 0;
    transform: none;
}
.forms .radios input[type="checkbox"] {
    display: inline-block;
    width: 20px;
    height: 20px;
}

#developerSelect {
    height: 100px;
    overflow-y: scroll;
}
#noAccount .button {
    text-align: center;
    &:hover {
        color: $white;
    }
}
/*SIGN IN PAGE*/
#signin {
    @include flexColumn;
    h3 {
       width: 100%;
       font-size: 36px;
       color: $bluegray;
       text-align: center;
   }
}

/*TICKET PAGE*/
.ticket {
    width: 100%;
    padding-left: 75px;
    select {
      font-size:22px;
      display:inline-block;
      height:100%;
      padding:5px 10px;
      margin: 0 10px;
      background:none;
      background-image:none;
      border:1px solid $lightgray;
      color:$red;
      border-radius:0;
      transition:border-color .25s ease, box-shadow .25s ease;
      &:focus {
          outline:0;
          border-color:$red;
      }
    }
    select option {background: $bluegray;}

    .button.progressChange {
        font-size: 22px;
        padding: 5px 10px;
        font-weight: bold;
    }
}

.thread {
    width: 100%;
    @include flexColumn;
    align-items: flex-start;
    h2 {text-align: left;}
    .comment, .reply {
        width: 100%;
        padding: 10px 15px;
        .comment-info {
            font-weight: bold;
            width: 70%;
            @include flexRow;
            font-family: $PTSans;
            .poster {
                margin: 0 10px;
                color: $darkgray;
                font-size: 26px;
            }
            .date {
                margin: 0 10px;
                color: $red;
                font-size: 22px;
            }
            i {
                color: $red;
                font-size: 22px;
                padding-left: 30px;
                &:hover {
                    color: darken($red, 15%);
                    cursor: pointer;
                }
            }
        }
        .comment-text {
            padding: 10px 25px;
        }
    }
    .reply {
        padding-left: 75px;
        border-left: solid $red 3px;
    }
    .comment:nth-of-type(even) {
        background: darken($lightgray, 15%);
    }

    .post {
        width: 100%;
        @include flexColumn;
        padding: 30px;
        h2 {
            margin: 0;
            font-size: 26px;
        }
        textarea {
            resize: none;
            background: $bluegray;
            color: $lightgray;
            border: none;
            width: 50%;
            height: 100px;
            outline: none;
            font-size: 26px;
            font-family: $Ubuntu;
        }
        input[type="submit"] {
            font-size: 22px;
            width: 20%;
            border: none;
            outline: none;
        }
    }
    .post.reply {
        align-items: flex-start;
        input[type="submit"] {
            font-size: 22px;
            margin: 10px 0;
        }
    }
}
.ticket .button-wrap .button {
    font-size: 24px;
}

/* Individual Ticket Page */
#ticket {
    .ticket {
        .name { font-size: 26px; }
        .info {font-size: 18px; border: none;}
        .label {font-size: 22px; }
        .desc {
            width: 50%;
            padding: 20px;
        }
        .button-wrap {
            width: 30%;
            flex-direction: column;
            .button {width: 100%;}
        }
    }

}
/*SIGN UP PAGE*/

.forms {
  background:rgba($bluegray,.9);
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius: 4px;
  box-shadow:0 4px 10px 4px rgba($bluegray,.3);
  a {
    text-decoration:none;
    color:$red;
    transition:.5s ease;
    &:hover {
      color: darken($red,5%);
    }
  }
  p {
      width: 100%;
      text-align: center;
      color: $lightgray;
      font-size: 32px;
      margin-bottom: 60px;
  }
  .tab-group {
    list-style:none;
    padding:0;
    margin:0 0 40px 0;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    li a {
      display:block;
      text-decoration:none;
      padding:15px;
      background:rgba($lightgray,.25);
      color:$lightgray;
      font-size:20px;
      float:left;
      width:50%;
      text-align:center;
      cursor:pointer;
      transition:.5s ease;
      &:hover {
        background: darken($red,5%);
        color:$white;
      }
    }
    .active a {
      background:$red;
      color:$white;
    }
  }

  .tab-content > div:last-child {
    display:none;
  }


  h1 {
    text-align:center;
    color:$white;
    font-weight: lighter;
    margin:0 0 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 48px;
  }

  label, .rating-widget p {
    position:absolute;
    transform:translateY(6px);
    left:13px;
    color:rgba($white,.5);
    transition:all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size:22px;
    .req {
    	margin:2px;
    	color:$red;
    }
  }
  .rating-widget {
      width: 100%;
      height: 50px;
      @include flexRow();
      justify-content: space-evenly;
  }
  .rating-widget p {
      width: auto;
      transform: none;
      left: 2px;
      font-size: 18px;
  }

  label.active {
    transform:translateY(-25px);
    left:2px;
    font-size:14px;
    .req {
      opacity:0;
    }
  }
  label[for=textarea].active{transform:translateY(-25px);}
  label[for=date], label[for=radio], label[for=select]{
      transform:translateY(-35px);
      font-size: 18px;
      border-bottom: solid $red 2px;
  }

  label.highlight {
  	color:$white;
  }

  input, textarea, select {
    font-size:22px;
    display:block;
    width:100%;
    height:100%;
    padding:5px 10px;
    background:none;
    background-image:none;
    border:1px solid $lightgray;
    color:$white;
    border-radius:0;
    transition:border-color .25s ease, box-shadow .25s ease;
    &:focus {
  		outline:0;
  		border-color:$red;
    }
  }
  select option {background: $bluegray;}
  .radios { padding-top: 50px;}

  textarea {
    border:2px solid $lightgray;
    height: 150px;
  }

  .field-wrap {
    position:relative;
    margin-bottom:30px;
  }

  .field-row {
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    > div {
      float:left;
      width:48%;
      margin-right:4%;
      &:last-child {
        margin:0;
      }
    }
  }

  .button {
    border:0;
    outline:none;
    border-radius:0;
    padding:15px 0;
    font-size:2rem;
    font-weight: bold;
    text-transform:uppercase;
    letter-spacing:.1em;
    background:$red;
    color:$white;
    transition:all.5s ease;
    -webkit-appearance: none;
    &:hover, &:focus {
      background: darken($red,5%);
    }
  }

  .button-block {
    display:block;
    width:100%;
  }

  .forgot {
    margin-top:-20px;
    text-align:right;
  }
}

/*PROJECT PAGES */
.forms #project {
    .field-row {
        margin-bottom: 50px;
    }
}
.main#projects {
    @include flexRow;
    .subhead {margin-right: 100px;}
}

.project {
    width: 100%;
    @include flexRow;
    jusify-content: space-evenly;
    padding: 20px;
    padding-left: 75px;
    img {
        width: 200px;
        height: 200px;
    }
    .info {
        width: 30%;
        @include flexColumn;
        justify-content: flex-start;
        h2, h3 {
            width: 100%;
            margin: 10px 0;
        }
        h2 {
            font-size: 28px;
        }
        h3 {
            padding-left: 25px;
            color: $darkgray;
            font-size: 22px;
            letter-spacing: 2px;
        }
    }
    p {
        font-size: 16px;
        margin: 5px 0;
        text-align: left;
        color: $darkgray;
        width: 100%;
        font-family: $Ubuntu;
    }
    .button-wrap {
        width: 20%;
        @include flexColumn;
        justify-content: space-evenly;
        .button {
            width: 100%;
            font-size: 16px;
            text-align: center;
        }
    }


    #reportLink-wrap {
        width: 30%;
        padding-top: 50px;
        p, textarea {
            width: 100%;
            text-align: center;
            font-family: $PTSans;
        }
        p {
            color: $bluegray;
            font-size: 22px;
        }
        textarea {
            background: none;
            border: none;
            outline: none;
            color: $red;
            font-weight: bold;
            font-size: 18px;
            padding: 10px;
        }
        .button {
            margin: auto;
            font-size: 16px;
            width: 150px;
        }
    }
}
.project:nth-of-type(even) {background: darken($lightgray, 15%);}


/* COMPANY MANAGEMENT */

#company {

    h2 {width: 100%;}
    .button {
        margin: 20px;
        width: 300px;
        font-size: 22px;
        text-align: center;
    }
    .copylink-wrap {
        width: 100%;
        padding-left: 50px;
        @include flexRow;
        align-items: flex-start;
        h3 {
            font-family: $PTSans;
            font-size: 22px;
            color: $bluegray;
            width: 100%;
            padding-left: 50px;
        }
        p, textarea {
            text-align: left;
            font-family: $PTSans;
            margin: 0;
        }
        p {
            width: 100%;
            color: $bluegray;
            font-size: 22px;
        }
        textarea {
            background: none;
            border: none;
            outline: none;
            color: $red;
            font-weight: bold;
            font-size: 18px;
            padding: 10px;
            width: 550px;
        }
        .button.copy {
            margin: 0;
            font-size: 16px;
            width: 150px;
        }
    }

}

/* EMPLOYEE MANAGEMENT */
.employee {
    width: 60%;
    margin: 0 100px;
    text-align: center;
    @include flexRow;
    justify-content: space-between;
    .button {
        width: 30%;
        font-size: 14px;
    }
    h3 {
        width: 30%;
        color: $red;
        font-weight: bold;
        font-family: $PTSans;
        font-size: 26px;
    }
}
/* REPORT TABLES */
h1.reports {
    font-size: 48px;
    color: $red;
    text-align: center;
    letter-spacing: 10px;
    font-family: $Ubuntu;
    text-transform: uppercase;
}
table.reports {
    width: 80%;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: $darkgray;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-bottom: 75px;
    th {
        text-align: left;
        font-family: $TitilliumWeb;
        text-transform: uppercase;
        padding: 12px 15px;
        background-color: $red;
        color: $white;
        font-size: 32px;
    }
    th:first-of-type {
        border-top-left-radius: 25px;
    }
    th:last-of-type {
        border-top-right-radius: 25px;
    }
    td {
        font-family: $Ubuntu;
        padding: 12px 15px;
        font-size: 22px;
    }
    td.descriptor {
        text-transform: uppercase;
        font-family: $PTSans;
        font-size: 28px;
        color: $bluegray;
    }
    tr:nth-of-type(even) {background: $lightgray;}
    tr:nth-of-type(odd) {background: $white;}
    tr:last-of-type {
        border-bottom: solid $red 5px;
    }
}

/*SPLASH PAGE*/
#splash header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    @include flexColumn;
    justify-content: space-between;
    p, h2 {
        font-size: 36px;
        text-align: center;
        width: 850px;
    }
}
#splash section {
    text-align: center;
    h1 {
        text-transform: uppercase;
        color: $red;
        font-size: 54px;
        letter-spacing: 10px;
        font-weight: normal;
        width: 100%;
    }
    .third {
        width: 30%;
        margin: 20px 0;
        p {
            padding: 10px 40px;
            font-size: 18px;
            line-height: 36px;
            font-family: $TitilliumWeb;
        }
    }
    .whole {
        width: 100%;
        height: 400px;
        background: $bluegray;
        @include flexRow;
        p, .section-img {
            width: 50%;
            height: 450px;
        }
        .section-img {
            background-image: url("/assets/img/bugreport.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
        }
        p {
            background: $bluegray;
            color: white;
            font-family: $Ubuntu;
            font-size: 20px;
            line-height: 40px;
            padding: 50px;
            text-align: left;
            margin: 0;
        }
    }
    .half {
        width: 50%;
        p {
            font-size: 26px;
            font-family: $PTSans;
            color: $darkgray;
            line-height: 38px;
            padding: 0 50px;
        }
    }
    .padded {
        width: 60%;
        margin: auto;
        background: $red;
        h2 {
            color: $darkgray;
            font-family: $Ubuntu;
            font-size: 42px;
            letter-spacing: 5px;
            text-transform: uppercase;
            font-weight: bold;
        }
        h3 {
            color: $white;
            font-size: 48px;
            font-family: $PTSans;
            font-weight: lighter;
        }
        p {
            color: $white;
            font-family: $PTSans;
            font-size: 24px;
            margin: 5px 0;
        }
        .button {
            background: $white;
            color: $red;
            width: 60%;
            margin: 15px auto;
            &:hover {
                background: darken($white, 15%);
            }
        }
    }
}


/* BUG APPROVAL */
.bug, .ticket {
    padding-right: 25%;
    @include flexRow;
    align-items: flex-start;
    justify-content: flex-start;
    .name {
        font-family: $TitilliumWeb;
        color: $darkgray;
        font-size: 22px;
        width: 100%;
    }
    .info {
        border-bottom: solid $red 2px;
        margin: 5px 20px;
        align-self: baseline;
        padding-bottom: 5px;
        .label {
            font-family: $PTSans;
            font-weight: bold;
            font-size: 18px;
        }
        a {
            margin-left: 10px;
            font-weight: normal;
            display: inline-block;
        }
    }
    .info.desc {
        border: none;
        font-size: 22px;
        width: 60%;
        a {
            width: 100%;
            margin-top: 10px;
        }
    }
    .button-wrap {
        width: 100%;
        @include flexRow;
        justify-content: space-evenly;
        .button {
            font-size: 18px;
            width: 200px;
            text-align: center;
        }
    }
    &:nth-of-type(even) {background: darken($lightgray, 15%);}
}
.bug {
    padding-left: 75px;
    padding-right: 10%;
    .button-wrap {
        width: 20%;
    }
}


//PRIORITY RATING FROM: https://codepen.io/depy/pen/vEWWdw
/* Rating Star Widgets Style */
.rating-widget p {
    padding: 0;
    margin: 0;
}
.rating-stars ul {
  list-style-type:none;
  padding:0;

  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;

}

/* Idle State of the stars */
.rating-stars ul > li.star > i {
  font-size:1em; /* Change the size of the stars */
  color:$darkgray; /* Color on idle state */
}
.rating-stars ul > li.star > i:hover {cursor: pointer;}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i {
  color:lighten($red, 5%);
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i {
  color:$red;
}


/* Tablet */
@media screen and (min-width: 701px) and (max-width: 1100px) {

}

/* Mobile */
@media screen and (max-width: 700px){
    .sidebar { display: none; }
    .main {
        width: 100%;
        padding: 0;
    }
    footer {
        padding: 0 10px;
        .logo, .links {
            width: 36%;
            height: 100px;
        }
        a {font-size: 16px;}
        .logo .emphasis{ font-size: 28px; margin: 0; text-align: center;}
        .logo a {width: 100%; text-align: center;}
    }
    #splash {
        header {
            p, h2, .button {
                width: 100%;
                height: auto;
            }

            h2 {font-size: 20px; padding: 0;}
            p {font-size: 18px; letter-spacing: 2px;}
            .button {
                font-size: 18px;
                text-align: center;
            }
        }

        section {
            h1 {font-size: 24px; letter-spacing: 2px;}
            .third, .half, .padded {width: 100%;}
            .third p, .half p{
                font-size: 18px;
                line-height: 32px;
            }
            .whole {height: 700px;}
            .whole .section-img, .whole p {width: 100%;}
            .whole {
                p {line-height: 25px; padding: 20px; height: 400px;}
                .section-img {
                    height: 300px;
                }
            }
        }
    }
}
